.update-button {
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    background-color: blueviolet;
    border: transparent;
}
.delete-button {
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    background-color: yellow;
    border: transparent;
}
.update-container {
    display: flex;
    flex-direction: column;
}